name: "nodejs build action"
on:
  push:
    branches:
      - master
jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm test
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results.json
          path: /home/runner/work/Nodejs-GithubActions/Nodejs-GithubActions/test.json
      - name: Build
        run: npm run build
